.story {
    padding: 0 25px 0 15px;
    pre {
        padding: 5px;
        background-color: #EEE;
        max-width: 100%;
        overflow-y: scroll;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}